@{
    ViewBag.Title = "Tambah Kontak Baru";
}

<form id="createcontactform" method="post" action="@Url.Content("~/Contact/Create")">
    <div class="row">
        <div class="span5">
            <div class="input-control text">
                <input type="text" name="Nama" id="Nama" placeholder="Nama"/>
                <button class="btn-clear"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <div class="input-control text">
                <input type="text" name="Nomor" id="Nomor" placeholder="Nomor"/>
                <button class="btn-clear"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <div class="input-control text">
                <input type="text" name="groupName" id="groupName" placeholder="Grup (boleh kosong)"/>
                <button class="btn-clear"></button>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <button type="submit" class="image-button bg-color-darken fg-color-white submit">Buat Kontak<i class="icon-plus bg-color-blue fg-color-white"></i></button>
    </div>
</form>