@model PublicWebSms.Models.ReportData

@{
    ViewBag.Title = "Tentang Server SMS";
}

<p>Jika Anda mengirim SMS melalui layanan ini namun belum diproses hingga saat ini, ada kemungkinan bahwa server dalam keadaan di luar jaringan (luring/<i>offline</i>). Silakan hubungi Putu Wiramaswara Widya (NRP. 5111100012) pada nomor +6283119668934 untuk melaporkan keluhan Anda.</p>
<p>Terima Kasih</p>
<table class="hovered striped bordered">
    <tr>
        <td><strong>Status Server</strong></td>
        <td>
        @if (Model.IsOn())
        {
            <span class="fg-color-green">Dalam Jaringan (daring/<strong>online</strong>)</span>
        }
        else
        {
            <span class="fg-color-redLight">Luar Jaringan (luring/<strong>offline</strong>)</span>
        }
        </td>
    </tr>
    <tr>
        <td><strong>Waktu SMS terakhir yang dikirim</strong></td>
        <td>@Model.LastUpdate</td>
    </tr>
    <tr>
        <td><strong>Informasi Server</strong></td>
        <td>@Model.ServerString</td>
    </tr>
</table>
