@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div id="error" class="hide span8">
        <span class="label important">Nama login atau kata sandi salah! Silahkan periksa kembali.</span>
    </div>
</div>
<div class="row">
    <div class="span5">Belum memiliki akun? <strong><a href="~/Account/Register">Daftar sekarang!</a></strong> Gratis</div>
</div>

<form method="post" action="@Url.Content("~/Account/Login")" id="login">

<div class="row">
    <div class="span5">
        <div class="input-control text">
            <input type="text" placeholder="Nama akun" name="LoginName" id="LoginName" />
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
    </div>
</div>


<div class="row">
    <div class="span5">
        <div class="input-control password">
            <input type="password" placeholder="Kata sandi" name="Password" id="Password" />
            <button class="btn-reveal" tabindex="-1" type="button"></button>
        </div>
    </div>
</div>

<div class="row">
    <input type="submit" value="Login" class="bg-color-blue fg-color-white" />
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <img src="~/Content/images/loading.gif" id="loading" class="hide" />
</div>

</form>

<script>
    $(document).ready(function () {
        $("#error").hide();
        $("#loading").hide();

        $("#login").submit(function () {
            $("#loading").show();
            $.post("@Url.Content("~/Account/Login")", $("#login").serialize(), function (data) {
            $("#loading").hide();
                if (data == false) {
                    $("#error").hide();
                    $("#error").fadeIn(500);
                    return false;
                }
                else {
                    window.location = "@if(ViewBag.ReturnUrl == ""){Url.Content("~/Dasboard");} else{@ViewBag.ReturnUrl}";
                }
            });

            return false;
        });
    });
</script>