@{
    ViewBag.Title = "Pendaftaran Sukses";
}


<div class="row">
    <p>Selamat! Akun Anda telah terdaftar. Harap menunggu persetujuan dari admin sebelum anda bisa masuk. Jika sudah, silakan <strong><a href="~/Account/Login">Login</a></strong> untuk melanjutkan mengirim SMS gratis sepuasnya.</p>
</div>