@model IEnumerable<PublicWebSms.Models.Draft>

@{
    ViewBag.Title = "Draft";
}

<div class="row">
    <button class="image-button bg-color-darken fg-color-white submit" id="newmessage" >Buat SMS baru<i class="icon-mail bg-color-green fg-color-white"></i></button>
</div>

    <br />
@if (ViewBag.Success == 1)
{
<div class="row">
    <div id="information">Pesan telah tercatat! Menunggu proses pengiriman dari server SMS Gateway.</div>
</div>
}
<div class="row">
    <table id="sms-table" class="hovered striped bordered">
        <thead>
            <tr>
                <th>Nomor tujuan</th>
                <th>Pesan</th>
                <th>Jadwal kirim</th>
                <th>Pilihan</th>
            </tr>
        </thead>
        @foreach (PublicWebSms.Models.Draft draft in Model)
        {
        <tr>
            <td class="sms-destination">@draft.DestinationNumber</td>
            <td class="sms-content">@draft.Content</td>
            <td class="sms-schedule">@if (draft.Scheduled)
                                     {
                                         <span>@draft.ScheduleTime</span>
                                     }
                                     else
                                     {
                                         <span>-</span>
                                     }
            </td>
            <td class="sms-status">
                <a href="~/Message/Compose?draftId=@draft.DraftId">Sunting</a> | <a href="~/Message/SendDraft?draftId=@draft.DraftId">Kirim</a>
            </td>
        </tr>
        }   
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#newmessage").click(function () {
            window.location = "@Url.Content("~/Message/Compose")";
        });
    });
</script>
