@model IEnumerable<PublicWebSms.Models.SMS>

@{
    ViewBag.Title = "Outbox";
}

<div class="row">
    <button class="image-button bg-color-darken fg-color-white submit" id="newmessage" >Buat SMS baru<i class="icon-mail bg-color-green fg-color-white"></i></button>
</div>

    <br />
@if (ViewBag.Success == 1)
{
<div class="row">
    <div id="information">Pesan telah tercatat! Menunggu proses pengiriman dari server SMS Gateway.</div>
</div>
}
else if (ViewBag.Error == 1)
{
<div class="row">
    <div id="error">Terjadi kesalahan saat pengiriman pesan!</div>
</div>
}
<div class="row">
    <table id="sms-table" class="hovered striped bordered">
        <thead>
            <tr>
                <th>Waktu pengiriman</th>
                <th>Nomor tujuan</th>
                <th>Pesan</th>
                <th>Status</th>
            </tr>
        </thead>

    @foreach (PublicWebSms.Models.SMS sms in Model)
    {
        <tr>
            <td class="sms-timestamp">@sms.TimeStamp</td>
            <td class="sms-destination">@sms.DestinationNumber</td>
            <td class="sms-content">@sms.Content</td>
            <td class="sms-status">@if (sms.Sent == true)
                                   {
                        <span>Terkirim</span>
                                   }
                                   else
                                   {
                        <span>Belum diproses</span>
                                   }
            </td>
        </tr>
    }
</table>
</div>

<script>
    $(document).ready(function () {
        $("#newmessage").click(function () {
                window.location = "@Url.Content("~/Message/Compose")";
        });
    });
</script>
